name: Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"  

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          user: zukikazuki
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg


          template: classic
          base: header, activity, community, repositories, metadata
